# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
override.tf
override.tf.json

# OPA / Rego
*.wasm
*.cache
.vscode/
.idea/

# Python / Lambda
__pycache__/
*.pyc
*.zip

# System / Misc
.DS_Store
Thumbs.db
.env
*.log

# Node
node_modules/

# Secrets / Keys
*.pem
*.key
*.crt
secrets/
